<!DOCTYPE html>
<html>
	<head>
		<title>404 Error</title>
		<link rel="stylesheet" href="/public/css/style.css">
	</head>
	<body>
		<h1> 404 Error, NotFound</h1>
		<p>Info about the particular error: <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/404">MDN docs</a></p>
		<a href="/index">Return to the homepage!</a>
	</body>
</html>