<!DOCTYPE html>
<html>
	<title>Request Header handler microservice</title>
	{{!-- Icon on header page, else error  --}}
	<link rel="icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon.ico">
	<link rel="stylesheet" href="../../public/css/style.css">
</html>
<body>
	<div class="container">
		<h2>API Project: Request Header Parser microservice</h2>
		<h3>Example Usage:</h3>
		<a href="/api/whoami">[base url]/api/whoami</a>
		<p>
			<code>
				{ {{ip}} ,<br> {{user_agent}} }
			</code>
		</p>
	</div>
	<div class="footer">
		<p>
			by
			<a href="https:l-const.com">l-const</a>
		</p>
	</div>

</body>